<%- include("partials/header") -%>
<div class="columns is-centered mt-5">
  <div class="card column is-half">
    <div class="card-content">
      <div class="content">
        <div class="field">
          <div class="has-text-info has-text-weight-bold is-size-4 mb-4">
            About
          </div>

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
          distinctio in incidunt reprehenderit voluptatibus? Sequi suscipit
          accusamus consequatur ea, voluptatibus cumque quod itaque odio aut
          explicabo delectus eligendi, veritatis officia.
        </div>
      </div>
    </div>
  </div>
</div>
