<%- include("partials/header") -%>


<div class="columns is-centered mt-5">
  <div class="card column is-two-thirds">
    <!-- <header class="card-header">
      <p class="card-header-title">Hi</p>
    </header> -->
    <div class="card-content">
      <div class="content">
        
        <!-- Start of Form -->
 <!-- The Toric non Toric switch -->
            
 <div class="box has-text-centered">Toric
  <input id="switchColorInfo" type="checkbox" name="switchColorInfo" class="switch is-info" checked="checked">
  <label for="switchColorInfo">Non-Toric</label>
</div>

        <div class="box columns mx-0">
          <div class="column">

            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column is-one-third">Patient ID</label>
              <div class="field-body column ">
                <input class="input" type="text" placeholder="" style="width: 100%;" />
                
              </div>
            </div>
            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column is-one-third">Gender</label>
              <div class="field-body column">
                <div class="select">
                  <select>
                    
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
          

            <div class="column">

              <div class="field is-horizontal columns is-vcentered">
                <label class="mx-4 is-normal column is-one-third">Side</label>
                <div class="field-body column ">
                  <div class="select">
                    <select>
                      <option>Left</option>
                      <option>Right</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal columns is-vcentered">
                <label class="mx-4 is-normal column is-one-third">K index</label>
                <div class="field-body column ">
                  <div class="select">
                    <select>
                      
                      <option>1.000</option>
                      <option>1.100</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          
          
          
          </div>
            

            <div class="columns">

              <div class="column">
                <div class="box">

            <div class="field is-horizontal columns is-vcentered">
              <label class="is-normal column">A-constant</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              

              </div>
            </div>
          

            <div class="field is-horizontal columns is-vcentered">
              <label class="is-normal column">Target refraction (D)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>
          </div>


<div class="box">
            <div class="field is-horizontal columns is-vcentered">
              <label class="column is-normal">AL (mm)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered">
              <label class="is-normal column">ACD (mm)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

          </div>
<div class="box">
            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">Flat K (D)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered is-vcentered">
              <label class=" is-normal column"
                >Flat meridian (Degrees)</label
              >
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>
</div>
</div>
<div class="column">
<div class="box">
            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">Steep K (D)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column"
                >Steep meridian (Degrees)</label
              >
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div></div>
            
<div class="box">
            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">SIA (D)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">Incision (Degrees)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">LT (mm)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            <div class="field is-horizontal columns is-vcentered">
              <label class=" is-normal column">CCT (μm)</label>
              <div class="field-body column">
                <input class="input" type="text" placeholder="" />
              </div>
            </div>

            
          </div>
          <div class="buttons is-right">
            <button class="button is-info">Submit</button>
            
          </div>

           
          </div>
        </div>
        </div>
        <!-- end of form -->
      

   
  </div>
</div>
</div>
</div>
